<div google-map="40.777243,-73.872609" style='width:400px;height:400px'></div>

{{messages}} 

{{toId}}


<div><input placeholder="enter message" type="text" ng-model="messageToSend"/><input value="send message" type="button" ng-show="messageToSend" ng-click="sendMessage()"/></div>

div.messages(ng-show="haveMessages.length > 0") {{haveMessages}}
	
	
